# --- Core Math & Data ---
numpy==1.26.3
pandas
scipy
matplotlib
openpyxl

# --- Computer Vision ---
opencv-contrib-python-headless>=4.10.0.84
scikit-image>=0.24.0
rembg

# --- Deep Learning & Features ---
torch
torchvision
kornia==0.8.2
kornia-moons
onnxruntime

# --- Utilities ---
tqdm>=4.67.1
PyYAML
scikit-learn>=1.5.2
networkx

Orange3